---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";

import FormattedDate from '@components/FormattedDate.astro';
import { Image } from 'astro:assets';
---

<Base meta_title="About">
  <Page title="Evaluación de perfil">
    <article class="flex w-full flex-col items-start">
      <div class="mb-1 block overflow-hidden rounded-lg">
          {/*<figure class="h-auto w-auto object-cover md:h-[10px]">
            {/*<Image
              class="cursor-progress transition duration-300 ease-in-out hover:scale-110"
              src={""}
              alt={"sad"}
              width={960}
              height={480}
              decoding="async"
              loading="lazy"
            />
            </figure>*/}
      </div>
      <div class="flex items-center gap-x-4 text-xs text-zinc-900 dark:text-white mb-2">
        Validación de Conocimiento BÁSICO
          <a
            href={`https://docs.google.com/forms/d/e/1FAIpQLSf-HLP7zhfv1X4eKV7K4lm7qwUd8xl_gqIjJcx5OK50XzKBng/viewform?usp=pp_url`}
            class="text-md relative z-10 rounded-full bg-zinc-50 px-3 py-1.5 font-medium text-zinc-600 hover:bg-zinc-50 dark:bg-zinc-900 dark:text-zinc-400"
          >
            {"Entrar a la evaluación"}
          </a>
      </div>
      <div class="flex items-center gap-x-4 text-xs text-zinc-900 dark:text-white mb-2">
        Validación de Conocimiento INTERMEDIO
        <a
          href={`https://docs.google.com/forms/d/e/1FAIpQLSfVpEOAgex1UHCXcaRuQXUGyqzhZ8YQnH15eAEVFPbeDXIjRw/viewform?usp=pp_url`}
          class="text-md relative z-10 rounded-full bg-zinc-50 px-3 py-1.5 font-medium text-zinc-600 hover:bg-zinc-50 dark:bg-zinc-900 dark:text-zinc-400"
        >
          {"Entrar a la evaluación"}
        </a>
    </div>
    <div class="flex items-center gap-x-4 text-xs text-zinc-900 dark:text-white">
      Validación de Conocimiento AVANZADO
      <a
        href={`https://docs.google.com/forms/d/e/1FAIpQLSf9tjjT5m72l6RQ54-2_n9OqkEGAkigFkzP8Zb8Fwd26ktHUQ/viewform?usp=pp_url`}
        class="text-md relative z-10 rounded-full bg-zinc-50 px-3 py-1.5 font-medium text-zinc-600 hover:bg-zinc-50 dark:bg-zinc-900 dark:text-zinc-400"
      >
        {"Entrar a la evaluación"}
      </a>
  </div>
    </article>
    
  </Page>
</Base>
